stage {
  font-family: Roboto, Cantarell, Sans-Serif;
  font-size: 10.5pt;
  font-weight: 400;
  color: rgba(0,0,0,0.75);
}
s
/* WIDGETS */
/* Buttons */
.button {
  transition-duration: 150ms;
  min-height: 32px;
  padding: 0 16px;
  border-width: 0;
  border-radius: 0;
  font-size: 10.5pt;
  font-weight: 500;
  transition-duration: 250ms;
  color: rgba(0,0,0,0.75);
  background-color: rgba(255,255,255,0.55) !important;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.button:hover, .button:focus {
  color: #eb6637;
  background-color: rgba(94, 94, 94, 0.05) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.button:active, .button:checked {
  color: #da4816;
  background-color: rgba(94, 94, 94, 0.1) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.button:insensitive {
  color: rgba(94, 94, 94, 0.4);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.button:hover {
  background-color: rgba(94, 94, 94, 0.05) !important;
}

.button:active {
  background-color: rgba(94, 94, 94, 0.1) !important;
}

.modal-dialog-linked-button {
  min-height: 40px;
  padding: 0 16px;
  border-top: 0px solid rgba(17, 17, 17, 0.1) !important;
  border-right: 0px solid rgba(244, 244, 244, 0.1);
  font-size: 10.5pt;
  font-weight: bold;
  transition-duration: 250ms;
  color: rgba(255,255,255,0.75);
  background-color: rgba(0, 0, 0, 0.53) !important;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.modal-dialog-linked-button:hover {
  color: rgba(0,0,0,0.5);
  background-color: rgba(0, 0, 0, 0.53);
  box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.5)!important;
  text-shadow: none;
  icon-shadow: none;
}

.modal-dialog-linked-button:active, .modal-dialog-linked-button:checked {
  color: rgba(0,0,0,0.5);
  background-color: rgba(0, 0, 0, 0.53) !important;
  box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.7)!important;
  text-shadow: none;
  icon-shadow: none;
}

.modal-dialog-linked-button:insensitive {
  color: rgba(94, 94, 94, 0.4);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.modal-dialog-linked-button {
  border-top: 0px rgba(94,94,94, 0.5)!important;
}

.modal-dialog-linked-button {
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.25), 0 1px 1px rgba(255, 255,255, 0.25) !important;
  border-top: 1px rgba(0, 0, 0, 0.75)!important;
}

.modal-dialog-linked-button:hover, .modal-dialog-linked-button:focus {
  box-shadow: inset 0 0 100px 0 rgba(255, 255, 255, 0.15);
}

.modal-dialog-linked-button:active {
  box-shadow: inset 0 0 100px 0 rgba(255, 255, 255, 0.1);
}

.modal-dialog-linked-button:first-child {
  border-radius: 0 0 0 0 !important;
  border-right: 0px solid rgba(17, 17, 17, 0.1);
  border-left: 0px solid rgba(17, 17, 17, 0.1);
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.56)!important;
  background-gradient-end: rgba(0,0,0,0.35)!important;
}

.modal-dialog-linked-button:first-child:hover {
  box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.5)!important;
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.56)!important;
  background-gradient-end: rgba(0,0,0,0.35)!important;
}

.modal-dialog-linked-button:first-child:active {
  box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.7)!important;
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.56)!important;
  background-gradient-end: rgba(0,0,0,0.35)!important;
}

.modal-dialog-linked-button:last-child {
  border-right-width: 0px;
  border-radius: 0 0 0 0 !important;
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.35)!important;
  background-gradient-end: rgba(0,0,0,0.56)!important;
}

.modal-dialog-linked-button:last-child:hover {
  box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.5)!important;
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.35)!important;
  background-gradient-end: rgba(0,0,0,0.56)!important;
}

.modal-dialog-linked-button:last-child:active {
  box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.7)!important;
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.35)!important;
  background-gradient-end: rgba(0,0,0,0.56)!important;
}

.modal-dialog-linked-button:first-child:last-child {
  border-radius: 0 0 0 0 !important;
}

.modal-dialog-linked-button:focus {
  color: #ffffff;
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.56)!important;
  background-gradient-end: rgba(0,0,0,0.35)!important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.modal-dialog-linked-button:focus:hover {
  color: rgba(0,0,0,0.5);
  box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.5)!important;
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.56)!important;
  background-gradient-end: rgba(0,0,0,0.35)!important;
  text-shadow: none;
  icon-shadow: none;
}

.modal-dialog-linked-button:focus:active {
  color: rgba(0,0,0,0.5);
  box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.7)!important;
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.56)!important;
  background-gradient-end: rgba(0,0,0,0.35)!important;
  text-shadow: none;
  icon-shadow: none;
}

/* Entries */
StEntry {
  min-height: 36px;
  padding: 0 8px;
  border-width: 0;
  font-size: 12pt;
  font-weight: 400;
  background-color: rgba(255,255,255,0.15);
  color: rgba(0,0,0,0.75);
  border-radius: 0;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px rgba(17, 17, 17, 0.1);
  selection-background-color: #00BBFF;
  selected-color: #999999;
  transition-duration: 250ms;
}

StEntry:hover, StEntry:focus, StEntry:active {
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 2px rgba(17, 17, 17, 0.1);
  transition-duration: 250ms;
}

StEntry:focus, StEntry:active {
  box-shadow: inset 0 0 0 2px #444444;
  color: rgba(0,0,0,0.75);
}

StEntry:disabled, StEntry:insensitive {
  color: rgba(94, 94, 94, 0.4);
  border-color: transparent;
  box-shadow: none;
}

StEntry StIcon.capslock-warning {
  icon-size: 16px;
  warning-color: #E75731;
  padding: 0 0;
}

/* Scrollbars */
StScrollView.vfade {
  -st-vfade-offset: 32px;
}

StScrollView.hfade {
  -st-hfade-offset: 32px;
}

StScrollBar {
  padding: 0;
}

StScrollView StScrollBar {
  min-width: 16px;
  min-height: 16px;
}

StScrollBar StBin#trough {
  margin: 5px;
  border-radius: 0;
  background-color: rgba(94, 94, 94, 0.16);
}

StScrollBar StButton#vhandle, StScrollBar StButton#hhandle {
  border-radius: 0;
  background-color: rgba(94, 94, 94, 0.6);
  /*
     //would be nice to margin or at least to transparent
    border: 4px solid transparent;
    */
  margin: 6px;
}

StScrollBar StButton#vhandle:hover, StScrollBar StButton#hhandle:hover {
  background-color: #686868;
}

StScrollBar StButton#vhandle:active, StScrollBar StButton#hhandle:active {
  background-color: rgb(49, 49, 49);
}

#overview StScrollBar StBin#trough, #screenShieldNotifications StScrollBar StBin#trough {
  background-color: rgba(255, 255, 255, 0.4);
}

#overview StScrollBar StButton#vhandle, #screenShieldNotifications StScrollBar StButton#vhandle, #overview StScrollBar StButton#hhandle, #screenShieldNotifications StScrollBar StButton#hhandle {
  background-color: rgba(94, 94, 94, 0.4);
}

#overview StScrollBar StButton#vhandle:hover, #screenShieldNotifications StScrollBar StButton#vhandle:hover, #overview StScrollBar StButton#hhandle:hover, #screenShieldNotifications StScrollBar StButton#hhandle:hover {
  background-color: #5b9aff;
}

#overview StScrollBar StButton#vhandle:active, #screenShieldNotifications StScrollBar StButton#vhandle:active, #overview StScrollBar StButton#hhandle:active, #screenShieldNotifications StScrollBar StButton#hhandle:active {
  background-color: #00BBFF;
}

/* Slider */
.slider {
  height: 2px;
  color: #414141;
  -slider-height: 2px;
  -slider-background-color: rgba(0, 0, 0, 0.5);
  -slider-border-color: transparent;
  -slider-active-background-color: #414141;
  -slider-handle-border-color: #414141;
  -slider-active-border-color: transparent;
  -slider-border-width: 0px;
  -slider-handle-radius: 0px;
  -slider-handle-border-width: 12px;
  -slider-border-radius: 0px;
}

.slider {
/*GNOME 3.30*/
  -barlevel-height: 2px;
  -barlevel-background-color: rgba(200,200,200, 0.5);
  -barlevel-border-color: transparent;
  -barlevel-active-background-color: #414141;
  -barlevel-active-border-color: transparent;
  -barlevel-overdrive-color: #414141;
  -barlevel-overdrive-border-color: transparent;
  -barlevel-overdrive-separator-width: 0px;
  -barlevel-border-width: 0px;
}


/* Check Boxes */
.check-box * {
  min-height: 16px;
  padding: 8px 0;
}

.check-box StBoxLayout {
  spacing: 8px;
}

.check-box StBin {
  width: 24px;
  height: 24px;
  padding: 4px;
  transition-duration: 250ms;
  background-image: url("assets/checkbox-off.svg");
}

.check-box:hover, .check-box:active, .check-box:checked {
  transition-duration: 150ms;
}

.check-box:hover StBin {
  background-image: url("assets/checkbox-hover.svg");
}

.check-box:active StBin {
  background-image: url("assets/checkbox-active.svg");
}

.check-box:checked StBin {
  background-image: url("assets/checkbox.svg");
}

/* Switches */
.toggle-switch {
  width: 48px;
  height: 22px;
  background-size: contain;
}

.toggle-switch-us {
  background-image: url("assets/toggle-off.svg");
}

.toggle-switch-us:checked {
  background-image: url("assets/toggle-on.svg");
}

.toggle-switch-intl {
  background-image: url("assets/toggle-off.svg");
}

.toggle-switch-intl:checked {
  background-image: url("assets/toggle-on.svg");
}

/* Switches2 */
.toggle-switch {
  width: 48px;
  height: 22px;
  background-size: contain;
  background-image: url("assets/toggle-off.svg"); }
  .toggle-switch:checked {
    background-image: url("assets/toggle-on.svg"); }

/* links */
.shell-link {
  border-radius: 6px;
  color: #00BBFF;
}

.shell-link:hover {
  color: #00BBFF;
  background-color: rgba(163, 86, 155, 0.15);
}

.shell-link:active {
  color: #00BBFF;
  background-color: rgba(163, 86, 155, 0.3);
}

/* Modal Dialogs */
.headline {
  font-size: 15pt;
  font-weight: 500;
}

.lightbox {
  background-color: black;
}

.flashspot {
  background-color: white;
}

.modal-dialog {
  padding: 0px;
  color: rgba(0,0,0,0.75);
}

.modal-dialog .modal-dialog-content-box {
  padding: 24px;
}

.modal-dialog .run-dialog-entry {
  width: 20em;
  color: rgba(0,0,0,0.75);
  margin-bottom: 6px;
}

.modal-dialog .run-dialog-error-box {
  padding-top: 16px;
  spacing: 6px;
}

.modal-dialog .run-dialog-button-box {
  padding-top: 1em;
}

.modal-dialog .run-dialog-label {
  font-size: 1em;
  font-weight: 400;
  color: rgba(0,0,0,0.75);
  padding-bottom: .4em;
}

.message-dialog-content {
  color: rgba(0,0,0,0.75);
}

.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
  font-size: 15pt;
  font-weight: 500;
}

/* End Session Dialog */
.end-session-dialog {
  spacing: 42px;
  background-color: red;
}

.end-session-dialog-list {
  padding-top: 20px;
}

.end-session-dialog-layout {
  padding-left: 17px;
}

.end-session-dialog-layout:rtl {
  padding-right: 17px;
}

.end-session-dialog-description {
  width: 28em;
  padding-bottom: 10px;
}

.end-session-dialog-description:rtl {
  text-align: right;
}

.end-session-dialog-warning {
  width: 28em;
  color: #E75731;
  padding-top: 6px;
}

.end-session-dialog-warning:rtl {
  text-align: right;
}

.end-session-dialog-logout-icon {
  border-radius: 5px;
  width: 48px;
  height: 48px;
  background-size: contain;
}

.end-session-dialog-shutdown-icon {
  color: rgba(0,0,0,0.75);
  width: 48px;
  height: 48px;
}

.end-session-dialog-inhibitor-layout {
  spacing: 16px;
  max-height: 200px;
  padding-right: 65px;
  padding-left: 65px;
}

.end-session-dialog-session-list,
.end-session-dialog-app-list {
  spacing: 1em;
}

.end-session-dialog-list-header {
  font-weight: 400;
}

.end-session-dialog-list-header:rtl {
  text-align: right;
}

.end-session-dialog-app-list-item,
.end-session-dialog-session-list-item {
  spacing: 1em;
}

.end-session-dialog-app-list-item-name,
.end-session-dialog-session-list-item-name {
  font-weight: 400;
}

.end-session-dialog-app-list-item-description {
  color: rgba(94, 94, 94, 0.6);
  font-size: 1em;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
  icon-size: 48px;
}

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 6px;
}

.mount-question-dialog-subject {
  max-width: 500px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
  padding-left: 0px;
  padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
  padding-left: 17px;
  width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
  padding-right: 17px;
}

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
  padding-right: 49px;
  padding-left: 32px;
}

.show-processes-dialog-app-list-item {
  color: rgba(0,0,0,0.75);
}

.show-processes-dialog-app-list-item:hover {
  color: rgba(0,0,0,0.75);
}

.show-processes-dialog-app-list-item:ltr {
  padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
  padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
  padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
  padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
  font-size: 1em;
}

/* Password or Authentication Dialog */
.prompt-dialog {
  min-width: 500px;
  max-width: 600px;
}

.prompt-dialog-main-layout {
  spacing: 24px;
  padding: 10px;
  color: rgba(0,0,0,0.75);
}

.prompt-dialog .message-dialog-content {
  spacing: 16px;
  color: rgba(0,0,0,0.75); 
}

.prompt-dialog .message-dialog-title {
  color: rgba(0,0,0,0.75);
}

.prompt-dialog-message-layout {
  spacing: 16px;
}

.prompt-dialog-headline {
  font-size: 15pt;
  font-weight: 500;
  color: rgba(0,0,0,0.75);
}

.prompt-dialog-description:rtl {
  text-align: right;
}

.prompt-dialog-password-box {
  spacing: .5em;
  padding-bottom: .5em;
}

.prompt-dialog-error-label {
  font-size: 1em;
  color: #E9394C;
  padding-bottom: 8px;
}

.prompt-dialog-info-label {
  font-size: 1em;
  color: rgba(0,0,0,0.75);
  padding-bottom: 8px;
}

.hidden {
  color: transparent;
}

.prompt-dialog-null-label {
  font-size: 1em;
  padding-bottom: 8px;
}

/* Polkit Dialog */
.polkit-dialog-user-layout {
  padding-left: 10px;
  spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
  padding-left: 0px;
  padding-right: 10px;
}

.polkit-dialog-user-root-label {
  color: #E75731;
}

.polkit-dialog-user-icon {
  border-radius: 5px;
  background-size: contain;
  width: 48px;
  height: 48px;
}

/* Audio selection dialog */
.audio-device-selection-dialog {
  spacing: 30px;
}

.audio-selection-content {
  spacing: 20px;
  padding: 24px;
}

.audio-selection-title {
  font-weight: 400;
  text-align: center;
}

.audio-selection-box {
  spacing: 20px;
}

.audio-selection-device {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 6px;
}

.audio-selection-device:hover, .audio-selection-device:focus {
  background-color: #eb6637;
}

.audio-selection-device:active {
  background-color: #da4816;
}

.audio-selection-device-box {
  padding: 20px;
  spacing: 20px;
}

.audio-selection-device-icon {
  icon-size: 64px;
}

/* Access Dialog */
.access-dialog {
  spacing: 30px;
}

.access-dialog-main-layout {
  padding: 12px 20px 0;
  spacing: 12px;
}

.access-dialog-content {
  max-width: 28em;
  spacing: 20px;
}

.access-dialog-icon {
  min-width: 48px;
  icon-size: 48px;
}

.access-dialog-title {
  font-weight: 400;
}

.access-dialog-subtitle {
  color: rgba(0,0,0,0.6);
  font-weight: 400;
}

/* Geolocation Dialog */
.geolocation-dialog {
  spacing: 30px;
}

.geolocation-dialog-main-layout {
  spacing: 12px;
}

.geolocation-dialog-content {
  spacing: 20px;
}

.geolocation-dialog-icon {
  icon-size: 48px;
}

.geolocation-dialog-title {
  font-weight: 400;
}

.geolocation-dialog-reason {
  color: rgba(0,0,0,0.6);
  font-weight: 400;
}

/* Network Agent Dialog */
.network-dialog-secret-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}

.keyring-dialog-control-table {
  spacing-rows: 15px;
  spacing-columns: 1em;
}

/* Popovers/Menus */
.popup-menu {
  min-width: 13em;
  font-size: 10.5pt;
}

.popup-menu .popup-sub-menu {
  background-color: rgba(225, 225, 225, 1);
  box-shadow: inset 0 -1px 8px rgba(17, 17, 17, 0.1);
  border-radius: 0 0 0 0;
}

.popup-menu .popup-menu-content {
  padding: 10px 5px;
}

.popup-menu .popup-menu-item {
  transition-duration: 75ms;
  spacing: 4px;
  box-shadow: none;
  border-width: 1px 0 1px 0;
  border-color: transparent;
  border-style: solid;
  border-radius: 0;
}

.popup-menu .popup-menu-item:ltr {
  padding: 0.4em 24px 0.4em 0;
}

.popup-menu .popup-menu-item:rtl {
  padding: 0.4em 0 0.4em 24px;
}

.popup-menu .popup-menu-item:checked, .popup-menu .popup-menu-item.selected {
  background-color: rgba(0,0,0,0.60);
  color: #ffffff !important;
  text-shadow: 0 1px rgba(0,0,0,0.5);
}

.popup-menu .popup-menu-item:active {
  background-color: rgba(0,0,0,0.75);
}

.popup-menu .popup-menu-item:hover, .popup-menu .popup-menu-item.selected, .popup-menu .popup-menu-item:active {
  color: rgba(0,0,0,0.75);
}

.popup-menu .popup-menu-item:checked {
  font-weight: 400;
  border-radius: 0 0 0 0;
}

.popup-menu .popup-menu-item:checked, .popup-menu .popup-menu-item:checked.selected {
  color: #ffffff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.33);
  background-gradient-end: rgba(0,0,0,0.45);
}

.popup-menu .popup-menu-item:insensitive {
  color: rgba(94, 94, 94, 0.4);
}

.popup-menu .popup-inactive-menu-item {
  color: rgba(0,0,0,0.75);
}

.popup-menu .popup-inactive-menu-item:insensitive {
  color: rgba(94, 94, 94, 0.6);
}

.popup-menu.panel-menu {
  -boxpointer-gap: 8px;
  border-radius: 0;
  border: 1px solid rgba(17, 17, 17, 0.09999);
  margin-bottom: 1.75em;
  border-width: 1px;
}

.popup-menu-ornament {
  text-align: right;
  width: 16px;
  height: 16px;
}

.popup-menu-boxpointer,
.candidate-popup-boxpointer {
  -arrow-border-radius: 0;
  -arrow-background-color: transparent;
  -arrow-border-width: 0;
  -arrow-border-color: transparent;
  -arrow-base: 0;
  -arrow-rise: 0;
  -arrow-box-shadow: none;
  margin: 0px 8px 8px;
  background-color: #e7e8eb;
  border-radius: 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5), 0 15px 20px rgba(0, 0, 0, 0.35) !important;
  /*box-shadow: 0 20px 20px rgba(0, 0, 0, 0.55), 0 25px 25px rgba(0, 0, 0, 0.35) !important;*/
}

.popup-separator-menu-item {
  height: 1px;
  margin: 0px 32px;
  background-color: transparent;
  border-color: rgba(17, 17, 17, 0.1);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.background-menu {
  -boxpointer-gap: 8px;
  -arrow-rise: 0;
}

/* fallback menu
- odd thing for styling App menu when apparently not running under shell. Light Adwaita styled
  app menu inside the main app window itself rather than the top bar
*/
/* OSD */
.osd-window {
  text-align: center;
  font-weight: 400;
  spacing: 1em;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;
}

.osd-window .osd-monitor-label {
  font-size: 45px;
  font-weight: 400;
}

.osd-window .level {
    height: 0.3em;
    border-radius: 9999px;
    -barlevel-height: 0.3em;
    -barlevel-background-color: rgba(11, 12, 13, 0.5);
    -barlevel-active-background-color: #414141;
    -barlevel-overdrive-color: #d51010;
    -barlevel-overdrive-separator-width: 0.2em; 
}

 /* OSD Windows LEVEL */
.osd-window .level-bar {
  color: rgba(94, 94, 94, 0.16);
  background-color: #00BBFF;
  border-radius: 0;
}

/* Pad OSD */
.pad-osd-window {
  padding: 32px;
  background-color: #F4F4F4;
}

.pad-osd-window .pad-osd-title-box {
  spacing: 12px;
}

.pad-osd-window .pad-osd-title-menu-box {
  spacing: 6px;
}

.combo-box-label {
  width: 15em;
}

/* App Switcher */
.switcher-popup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list-item-container {
  spacing: 8px;
}

.switcher-list .item-box {
  padding: 8px;
  border-radius: 0;
  font-weight: bold;
}

.switcher-list .item-box StIcon{
  padding-bottom: 8px;
}

.switcher-list .item-box:outlined {
  padding: 8px;
  border: none;
  background-color: rgba(94, 94, 94, 0.16);
}

.switcher-list .item-box:selected {
  background-color: rgb(87, 87, 87);
  box-shadow: inset 0 -1px 8px rgba(17, 17, 17, 0.1);
  color: rgba(255, 255, 255, 0.966);
}

.switcher-list .thumbnail-box {
  padding: 2px;
  spacing: 4px;
}

.switcher-list .thumbnail {
  width: 256px;
}

.switcher-list .separator {
  width: 1px;
  background: rgba(17, 17, 17, 0.1);
}

.switcher-arrow {
  border-color: transparent;
  color: rgba(94, 94, 94, 0.6);
}

.switcher-arrow:highlighted {
  color: rgba(0,0,0,0.75);
}

.input-source-switcher-symbol {
  font-size: 45px;
  font-weight: 400;
  width: 96px;
  height: 96px;
}

/* Window Cycler */
.cycler-highlight {
  border: 4px solid #00BBFF;
}

/* Workspace Switcher */
.workspace-switcher-group {
  padding: 8px;
}

.workspace-switcher {
  background: transparent;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
  spacing: 8px;
}

.ws-switcher-active-up, .ws-switcher-active-down {
  height: 48px;
  background-color: #444444;
  color: rgba(0,0,0,0.75);
  background-size: 48px;
  border-radius: 0;
}

.ws-switcher-active-up { background-image: url("assets/ws-switch-arrow-up.svg"); }
.ws-switcher-active-down { background-image: url("assets/ws-switch-arrow-down.svg"); }

.ws-switcher-box {
  height: 48px;
  border: none;
  background: rgba(94, 94, 94, 0.16);
  border-radius: 0;
}

.modal-dialog, .end-session-dialog, .show-processes-dialog,
.mount-question-dialog, .prompt-dialog, .audio-device-selection-dialog, .access-dialog, .geolocation-dialog, .osd-window,
.resize-popup,
.switcher-list, .workspace-switcher-container, .nm-dialog, .login-dialog {
  background-color: #e7e8eb;
  color: rgba(0,0,0,0.75);
  box-shadow: 0 13px 25px rgba(0, 0, 0, 0.55), 0 13px 3px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  border: none !important;
}

/* Tiled window previews */
.tile-preview {
  background-color: rgba(244, 244, 244, 0.4);
  border: 1px solid #F4F4F4;
}

.tile-preview-left.on-primary {
  border-radius: 0 0 0 0;
}

.tile-preview-right.on-primary {
  border-radius: 0 0 0 0;
}

.tile-preview-left.tile-preview-right.on-primary {
  border-radius: 0 0 0 0;
}

/* TOP BAR */
#panel {
  background-color: #e7e8eb;
  font-size: 10pt;
  height: 2em;
  text-shadow: none;
  /*box-shadow: 0 8px 18px rgba(0,0,0,0.1), 0 8px 20px rgba(0,0,0,0.35);*/
  background-gradient-direction: none;
  /*border-radius: 0 0 6px 6px;*/
}

#panel:overview, #panel.unlock-screen, #panel.login-screen, #panel.lock-screen {
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 8px 18px rgba(0,0,0,0.1), 0 8px 20px rgba(0,0,0,0.35);
}

#panel:overview:overview #panelActivities.panel-button, #panel.unlock-screen:overview #panelActivities.panel-button, #panel.login-screen:overview #panelActivities.panel-button, #panel.lock-screen:overview #panelActivities.panel-button {
  color: #ffffff;
  box-shadow: none;
}

#panel:overview:overview #panelActivities.panel-button:hover, #panel.unlock-screen:overview #panelActivities.panel-button:hover, #panel.login-screen:overview #panelActivities.panel-button:hover, #panel.lock-screen:overview #panelActivities.panel-button:hover {
  color: #ffffff;
}

#panel #panelLeft, #panel #panelCenter {
  spacing: 0;
}

#panel .panel-corner {
  -panel-corner-radius: 0;
  -panel-corner-background-color: #F4F4F4;
  -panel-corner-border-width: 2px;
  -panel-corner-border-color: transparent;
}

#panel .panel-corner:active, #panel .panel-corner:overview, #panel .panel-corner:focus {
  -panel-corner-border-color: transparent;
}

#panel .panel-corner.lock-screen, #panel .panel-corner.login-screen, #panel .panel-corner.unlock-screen {
  -panel-corner-radius: 0;
  -panel-corner-background-color: transparent;
  -panel-corner-border-color: transparent;
}

#panel .applet-box .applet-menu-content {
  spacing: 4px;
}

#panel .applet-box .popup-menu-item {
  padding: 0 4px;
  color: rgba(0,0,0,0.75);
}

#panel .applet-box .popup-menu-item:hover {
  color: rgba(94, 94, 94, 0.7);
}

#panel .applet-box .popup-menu-item:active, #panel .applet-box .popup-menu-item:focus, #panel .applet-box .popup-menu-item:checked {
  background-color: rgba(244, 244, 244, 0.01);
  box-shadow: inset 0 -2px 0px #00BBFF;
  color: rgba(0,0,0,0.75);
}

#panel .panel-button {
  -natural-hpadding: 10px;
  -minimum-hpadding: 5px;
  font-weight: 500 !important;
  color: #111111;
  transition-duration: 250ms;
  font-family: Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#panel .panel-button, #panel .panel-button:hover, #panel .panel-button:active, #panel .panel-button .system-status-icon, #panel .panel-button .system-status-icon:hover, #panel .panel-button .system-status-icon:active, #panel .panel-button .app-menu-icon > StIcon, #panel .panel-button .app-menu-icon > StIcon:hover, #panel .panel-button .app-menu-icon > StIcon:active, #panel .panel-button .popup-menu-arrow, #panel .panel-button .popup-menu-arrow:hover, #panel .panel-button .popup-menu-arrow:active {
  text-shadow: none !important;
  icon-shadow: none !important;
}

#panel .panel-button .app-menu-icon {
  -st-icon-style: symbolic;
  margin-left: 0px;
  margin-right: 10px;
}

#panel .panel-button:hover {
  color: #515151;
}

#panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgb(100, 100, 100);
  background-gradient-end: rgb(119, 119, 119);
  color: #ffffff;
  box-shadow: none;
}

#panel .panel-button:active > .system-status-icon, #panel .panel-button:overview > .system-status-icon, #panel .panel-button:focus > .system-status-icon, #panel .panel-button:checked > .system-status-icon {
  icon-shadow: none;
}

#panel .panel-button .system-status-icon {
  icon-size: 1.28571em;
  icon-shadow:none;
}

#panel:overview {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

#panel:overview .panel-button {
  color: rgba(255,255,255,0.5);
}

#panel:overview .panel-button:hover,
#panel:overview .panel-button:active {
  color:white;
}

#panel:overview #panelActivities:active,
#panel:overview #panelActivities:overview {
  background-color:transparent!important;
  background-gradient-direction: none;
}

.unlock-screen #panel .panel-button,
.login-screen #panel .panel-button,
.lock-screen #panel .panel-button {
  color: rgba(94, 94, 94, 0.75);
}

.unlock-screen #panel .panel-button:focus, .unlock-screen #panel .panel-button:hover, .unlock-screen #panel .panel-button:active,
.login-screen #panel .panel-button:focus,
.login-screen #panel .panel-button:hover,
.login-screen #panel .panel-button:active,
.lock-screen #panel .panel-button:focus,
.lock-screen #panel .panel-button:hover,
.lock-screen #panel .panel-button:active {
  color: rgba(0,0,0,0.75);
}

#panel #panelRight .panel-button, #panel #panelRight .panel-status-indicators-box,
#panel #panelRight .panel-status-menu-box, #panel #panelRight .system-status-icon {
  -natural-hpadding: 0px;
  -minimum-hpadding: 0px;
  spacing: 0px;
  padding: 0px;
  icon-size: 1.28571em;
}

#panel #panelRight .panel-button {
  -natural-hpadding: 6px;
}

#panel #panelRight .panel-status-indicators-box .system-status-icon {
  padding: 0 5px 0 5px;
}

#panel #panelLeft .panel-button, #panel #panelCenter .panel-button {
  -natural-hpadding: 10px;
  -minimum-hpadding: 10px;
  spacing: 0px;
}

#panel #panel .popup-menu-arrow {
  min-width: 0px !important;
  width: 0px !important;
  padding: 0px !important;
  -natural-hpadding: 0px !important;
  height: 0px;
}

/*#panel .clock-display StBoxLayout:last-child > StLabel:last-child {
  color: #ffffff;
}*/

#panel .popup-menu-arrow {
  min-width: 0px !important;
  width: 0px !important;
  padding: 0px !important;
  -natural-hpadding: 0px !important;
  height: 0px;
}

#panel .power-status.panel-status-indicators-box {
  spacing: 0;
}

#panel .screencast-indicator {
  color: #E75731;
}

#calendarArea {
  padding: 8px 6px;
}

.calendar {
  margin-bottom: 0;
}

.calendar,
.datemenu-today-button,
.datemenu-displays-box,
.message-list-sections {
  margin: 0 8px;
}

.datemenu-calendar-column {
  spacing: 8px;
}

.datemenu-displays-section {
  padding-bottom: 0;
}

.datemenu-displays-box {
  spacing: 8px;
}

.datemenu-calendar-column {
  border: 0 solid rgba(17, 17, 17, 0.1);
}

.datemenu-calendar-column:ltr {
  border-left-width: 0;
}

.datemenu-calendar-column:rtl {
  border-right-width: 0;
}

.datemenu-today-button,
.world-clocks-button,
.weather-button,
.events-section-title, .message-list-section-title {
  color: rgba(0,0,0,0.75);
  min-height: 22px;
  padding: 4px 8px;
  border-radius: 0px;
}

.datemenu-today-button:hover,
.world-clocks-button:hover,
.weather-button:hover,
.events-section-title:hover, .message-list-section-title:hover {
  background-color: rgba(94, 94, 94, 0.05);
}

.datemenu-today-button:active,
.world-clocks-button:active,
.weather-button:active,
.events-section-title:active, .message-list-section-title:active {
  background-color: rgba(94, 94, 94, 0.1);
}

.message-list-section-close > StIcon {
  background-color: transparent;
  padding: 2px;
  color: rgba(94, 94, 94, 0.75);
}

.message-list-section-close:hover StIcon {
  background-color: transparent;
  color: #00BBFF;
}

.message-list-section-close:active StIcon {
  background-color: transparent;
  color: #da4816;
}

.datemenu-today-button {
  min-height: 52px;
}

.message-list-section-list:ltr {
  padding-left: 0;
}

.message-list-section-list:rtl {
  padding-right: 0;
}

.datemenu-today-button,
.world-clocks-button,
.weather-button,
.events-section-title, .message-list-section-title {
  border-radius: 6px;
  color: rgba(0,0,0,0.75);
}

.datemenu-today-button:hover, .datemenu-today-button:focus,
.world-clocks-button:hover,
.world-clocks-button:focus,
.weather-button:hover,
.weather-button:focus,
.events-section-title:hover,
.events-section-title:focus, .message-list-section-title:hover, .message-list-section-title:focus {
  color: rgba(0,0,0,0.75);
  box-shadow: inset 0 0px 0px 1px rgba(17, 17, 17, 0.1);
  background-color: rgba(94, 94, 94, 0.05);
}

.datemenu-today-button:active,
.world-clocks-button:active,
.weather-button:active,
.events-section-title:active, .message-list-section-title:active {
  box-shadow: inset 0 0px 0px 1px rgba(17, 17, 17, 0.1);
  background-color: rgba(94, 94, 94, 0.1);
}

.weather-button {
  color: rgba(94, 94, 94, 0.75);
}

.datemenu-today-button .date-label {
  font-size: 18pt;
  font-weight: 400;
  font-weight: 400 !important;
  text-align: center !important;
}

.world-clocks-header,
.weather-header,
.events-section-title {
  color: rgba(0,0,0,0.75);
  font-weight: 400;
}

.world-clocks-grid {
  spacing-rows: 0.4em;
}

.weather-box {
  spacing: 0.4em;
}

.calendar-month-label {
  height: 18px;
  margin: 2px;
  padding: 6px 16px;
  border-radius: 6px;
  color: rgba(0,0,0,0.75);
  font-weight: 400;
  text-align: center;
}

.calendar-month-label:focus {
  background-color: rgba(94, 94, 94, 0.05);
}

.pager-button {
  width: 30px;
  height: 30px;
  margin: 0px;
  border-radius: 9999px;
  background-color: transparent;
  color: rgba(0,0,0,0.75);
}

.pager-button:hover, .pager-button:focus {
  background-color: rgba(37, 37, 37, 0.1)!important;
}

.pager-button:active {
  background-color: rgba(37, 37, 37, 0.3)!important;
}

.calendar-change-month-back {
  padding: 0 2px;
  background-image: url("assets/calendar-arrow-left.svg"); }
  .calendar-change-month-back:rtl {
    background-image: url("assets/calendar-arrow-right.svg"); }

.calendar-change-month-forward {
  padding: 0 2px;
  background-image: url("assets/calendar-arrow-right.svg"); }
  .calendar-change-month-forward:rtl {
    background-image: url("assets/calendar-arrow-left.svg"); }


.calendar-change-month-back, .calendar-change-month-back:hover, .calendar-change-month-back:active, .calendar-change-month-forward, .calendar-change-month-forward:hover, .calendar-change-month-forward:active {
  transition-duration: 150ms;
}

.calendar-change-month-back:hover, .calendar-change-month-forward:hover {
  background-color: rgba(94, 94, 94, 0.05);
}

.calendar-change-month-back:active, .calendar-change-month-forward:active {
  background-color: rgba(94, 94, 94, 0.1);
}

.calendar-change-month-back:focus, .calendar-change-month-forward:focus {
  background-color: transparent;
}

.calendar-day-base {
  font-size: 9pt;
  font-weight: 400;
  color: rgba(0,0,0,0.75);
  background-color: transparent;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 2px;
  transition-duration: 250ms;
  border-radius: 9999px;
}

.calendar-day-base:hover, .calendar-day-base:focus {
  background-color: rgba(94, 94, 94, 0.05) !important;
  box-shadow: inset 0 0px 0px 1px rgba(17, 17, 17, 0.1);
}

.calendar-day-base:hover:active, .calendar-day-base:hover:selected, .calendar-day-base:focus:active, .calendar-day-base:focus:selected {
  font-weight: 400 !important;
  background-color: rgba(17, 17, 17, 0.1) !important;
  box-shadow: inset 0 0px 0px 1px rgba(4, 4, 4, 0.1);
}

.calendar-day-base.calendar-day-heading {
  width: 30px;
  height: 23px;
  margin-top: 2px;
  padding: 7px 0 0;
  border-radius: 100px;
  background-color: transparent;
  color: rgba(94, 94, 94, 0.4);
  font-size: 9pt;
  font-weight: 400;
  font-weight: bolder;
  text-align: center;
}

.calendar-day {
  color: rgba(94, 94, 94, 0.75);
  border-width: 0;
}

.calendar-day:focus {
  background-color: rgba(94, 94, 94, 0.05);
}

.calendar-day-top {
  border-top-width: 0;
}

.calendar-day-left {
  border-left-width: 0;
}

.calendar-nonwork-day {
  color: rgba(94, 94, 94, 0.24);
}

.calendar-today {
  border: none;
}

.calendar-today, .calendar-today:hover, .calendar-today:focus {
  box-shadow: inset 0 0px 0px 1px rgba(17, 17, 17, 0.1);
}

.calendar-today:selected {
  background:none;
  background-color:none;
  background-gradient-direction: vertical;
  background-gradient-start: rgb(94, 94, 94);
  background-gradient-end: rgb(72, 73, 73);
  color: #ffffff !important;
  font-weight: bolder;
}

.calendar-today:selected:hover{
  background-color: rgba(17, 17, 17, 0.5)!important;
  font-weight: bolder !important;
  background-gradient-direction: none;
}

.calendar-today:selected:active{
  background-color: rgba(17, 17, 17, 0.75)!important;
  background-gradient-direction: none;
}

.calendar-day-with-events {
  color: rgba(0,0,0,0.75);
  font-weight: 400;
  text-decoration: none;
  background-image: url("assets/calendar-today.svg");
}

.calendar-other-month-day {
  color: rgba(94, 94, 94, 0.3) !important;
}

.calendar-week-number {
  width: 30px;
  height: 23px;
  margin: 2px;
  padding: 7px 0 0;
  border-radius: 100px;
  background-color: transparent;
  color: rgba(94, 94, 94, 0.6);
  font-size: inherit;
  font-weight: 400;
  text-align: center;
}

/* Message list */
.message-list {
  width: 420px;
}

.message-list-clear-button.button {
  transition-duration: 250ms;
  color: rgba(0,0,0,0.75);
  background-color: white !important;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
  background-color: white !important;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 6px;
  margin: 8px 8px 0;
}

.message-list-clear-button.button:hover, .message-list-clear-button.button:focus {
  color: #00BBFF;
  background-color: rgba(94, 94, 94, 0.05) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.message-list-clear-button.button:active, .message-list-clear-button.button:checked {
  color: #0e6bf6;
  background-color: rgba(94, 94, 94, 0.1) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.message-list-clear-button.button:insensitive {
  color: rgba(94, 94, 94, 0.4);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.message-list-clear-button.button, .message-list-clear-button.button:hover, .message-list-clear-button.button:focus, .message-list-clear-button.button:active {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}

.message-list-sections {
  spacing: 8px;
}

.message-list-section,
.message-list-section-list {
  spacing: 8px;
}

.message, .notification-banner, .notification-banner:last-child > :first-child {
  transition-duration: 150ms;
  min-height: 60px;
  background-color: #f1f1f1;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0;
}

.message:hover, .message:active, .notification-banner:hover, .notification-banner:last-child > :hover:first-child, .notification-banner:active, .notification-banner:last-child > :active:first-child {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.message:hover, .notification-banner:hover, .notification-banner:last-child > :hover:first-child {
  background-color: rgba(94, 94, 94, 0.05);
}

.message:active, .notification-banner:active, .notification-banner:last-child > :active:first-child {
  background-color: rgba(94, 94, 94, 0.1);
}

.message-icon-bin {
  padding: 8px 0px 8px 8px;
}

.message-icon-bin:rtl {
  padding: 8px 8px 8px 0px;
  box-shadow: inset -2px 0px #00BBFF;
}

.message-icon-bin > StIcon {
  color: rgba(0,0,0,0.75);
  icon-size: 16px;
  -st-icon-style: requested;
  padding: 4px 0px 4px 4px;
}

.message-icon-bin > StIcon:rtl {
  padding: 4px 4px 4px 0px;
}

.message-secondary-bin {
  padding: 0 8px;
}

.message-secondary-bin > .event-time {
  min-height: 18px;
  padding-top: 2px 0;
  color: rgba(94, 94, 94, 0.6);
  font-size: 1em;
}

.message-secondary-bin > StIcon {
  icon-size: 16px;
}

.message-secondary-bin:hover > StIcon {
  color: #eb6637 !important;
}

.message-secondary-bin:active > StIcon {
  color: #da4816 !important;
}

.message-title {
  min-height: 18px;
  padding-top: 2px;
  color: rgba(0,0,0,0.75);
  font-weight: 400;
  font-size: 1em;
}

.message-content {
  min-height: 44px;
  padding: 8px;
  color: rgba(94, 94, 94, 0.75);
  font-size: 1em;
}

.message-content * > StIcon {
  icon-size: 16px;
  border-radius: 16px;
  padding: 2px;
  color: rgba(94, 94, 94, 0.75);
}

/* FIXME: how do you do this in sass? */
.message-content *:hover > StIcon,
.message-content *:focus > StIcon {
  color: #eb6637;
  background-color: transparent;
}

.message-content *:active > StIcon {
  color: #da4816;
  background-color: transparent;
}

.message-media-control {
  margin: 16px 0;
  padding: 8px;
  border-radius: 9999px;
  color: rgba(94, 94, 94, 0.75);
}

.message-media-control:hover, .message-media-control:focus {
  color: #00BBFF;
}

.message-media-control:active {
  color: #0e6bf6;
}

.message-media-control:insensitive {
  color: rgba(94, 94, 94, 0.3);
}

.message-media-control:last-child:ltr {
  margin-right: 16px;
  padding-right: 8px;
}

.message-media-control:last-child:rtl {
  margin-left: 16px;
  padding-left: 8px;
}

.media-message-cover-icon {
  icon-size: 48px !important;
  margin: 0px 0;
}

.media-message-cover-icon.fallback {
  icon-size: 16px !important;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: rgba(94, 94, 94, 0.05);
  color: rgba(94, 94, 94, 0.6);
}

.system-switch-user-submenu-icon.user-icon {
  icon-size: 20px;
  padding: 0 2px;
}

.system-switch-user-submenu-icon.default-icon {
  icon-size: 16px;
  padding: 0 4px;
}

#appMenu {
  spinner-image: url("assets/process-working.svg");
  spacing: 4px;
  padding: 0 12px;
}

#appMenu .label-shadow {
  color: transparent;
}

.aggregate-menu {
  min-width: 18em;
}

.aggregate-menu .popup-menu-icon {
  padding: 0 4px;
}

.system-menu-action {
  transition-duration: 150ms;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 100px;
  /* wish we could do 50% */
  padding: 14px;
  border: none;
}

.system-menu-action > StIcon {
  icon-size: 16px;
}

.system-menu-action:hover, .system-menu-action:active {
  transition-duration: 150ms;
}

.system-menu-action:hover {
  background-color: rgba(37, 37, 37, 0.1);
  color: rgba(0,0,0,0.75);
}

.system-menu-action:active {
  background-color: rgba(37, 37, 37, 0.2);
  color: rgba(0,0,0,0.75);
}

.openweather-current-databox-captions, .openweather-forecast-day{
  color: #00BBFF;
}

.ripple-box {
  width: 48px;
  height: 48px;
  background-image: url("assets/corner-ripple-ltr.svg");
  background-size: contain;
}

.ripple-box:rtl {
  background-image: url("assets/corner-ripple-rtl.svg");
}

.popup-menu-arrow {
  width: 16px;
  height: 16px;
}

.popup-menu-icon {
  icon-size: 1.14286em;
}

.window-close, .notification-close {
  border: 0 none transparent;
  background-color: transparent;
  color: transparent;
  box-shadow: none;
  height: 32px;
  width: 32px;
  background-image: url("assets/window-close.svg");
  background-size: 32px;
}

.window-close:hover, .notification-close:hover {
  background-image: url("assets/window-close-hover.svg");
}

.window-close:active, .notification-close:active {
  background-image: url("assets/window-close-active.svg");
}

.notification-close {
  -shell-close-overlap-x: 14px;
  -shell-close-overlap-y: -12px; 
}

.notification-close:rtl {
  -shell-close-overlap-x: -14px; 
}

/* NETWORK DIALOGS */
.nm-dialog {
  min-height: 450px;
  min-width: 470px;
  max-height: 500px;
}

.nm-dialog-content {
  spacing: 20px;
  padding: 24px;
}

.nm-dialog-header-hbox {
  spacing: 10px;
}

.nm-dialog-airplane-box {
  spacing: 12px;
}

.nm-dialog-airplane-headline {
  font-weight: 400;
  text-align: center;
}

.nm-dialog-airplane-text {
  color: rgba(0,0,0,0.75);
}

.nm-dialog-header-icon {
  icon-size: 32px;
}

.nm-dialog-scroll-view {
  border: none;
}

.nm-dialog-header {
  font-size: 15pt;
  font-weight: 500;
}

.nm-dialog-item {
  font-size: 1em;
  border-bottom: none;
  border-radius: 6px;
  padding: 12px;
  spacing: 20px;
}

.nm-dialog-item:hover, .nm-dialog-item:focus {
  background-color: rgba(94, 94, 94, 0.05);
}

.nm-dialog-item:active {
  background-color: rgba(94, 94, 94, 0.1);
}

.nm-dialog-item:selected {
  background-color: #00BBFF;
  color: rgba(0,0,0,0.75);
}

.nm-dialog-icons {
  spacing: .5em;
}

.nm-dialog-icon {
  icon-size: 16px;
}

.no-networks-label {
  color: rgba(94, 94, 94, 0.6);
}

.no-networks-box {
  spacing: 12px;
}

/* OVERVIEW */
#overview {
  background: none; /* url("assets/overview_gradient.svg") rgba(17, 17, 17, 0.6) */
  background-size: cover;
  spacing: 24px;
}

.overview-controls {
  padding-bottom: 32px;
}

.window-picker {
  -horizontal-spacing: 32px;
  -vertical-spacing: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 48px;
}

.window-picker.external-monitor {
  padding: 32px;
}

.window-clone-border {
  border: 8px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 0 1px rgba(244, 244, 244, 0.5);
  border-radius: 0;
}

.window-caption {
  font-weight: bold;
  spacing: 25px;
  border-color: rgba(17, 17, 17, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  -shell-caption-spacing: 12px;
}

.window-caption:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(17, 17, 17, 0.1);
  color: #ffffff;
}

.search-entry {
  width: 304px;
  padding: 0 8px;
  background-color: rgba(255, 255, 255, 0.2)!important;
  color: rgba(255, 255, 255, 0.55);
  border-radius: 6px;
  border: 0px solid transparent;
  box-shadow: inset 0 0px 0px 0px rgba(17, 17, 17, 0.1);
  selection-background-color: #00BBFF;
  selected-color: #F4F4F4;
  transition-duration: 250ms;
  font-size: 10.5pt;
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.search-entry:hover, .search-entry:focus, .search-entry:active {
  background-color: rgba(255, 255, 255, 0.3)!important;
  border: none;
  box-shadow: none;
  transition-duration: 250ms;
  color: #ffffff;
}

.search-entry:focus, .search-entry:active {
  box-shadow: inset 0 0px 0px 2px #00BBFF;
  color: #ffffff;
}

.search-entry:disabled {
  color: rgba(94, 94, 94, 0.4);
  border-color: transparent;
  box-shadow: none;
}

.search-entry:focus {
  padding: 0 8px;
  box-shadow: none;
}

.search-entry .search-entry-icon {
  color: rgba(255, 255, 255, 0.55);
  icon-size: 16px;
  padding-left: 30px;
  icon-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.search-entry:hover .search-entry-icon {
  color: #ffffff;
}

.search-entry:focus .search-entry-icon {
  color: #ffffff;
}

#searchResultsBin {
  max-width: 1000px;
}

#searchResultsContent {
  padding-left: 20px;
  padding-right: 20px;
  spacing: 16px;
}

.search-section {
  spacing: 16px;
}

.search-section-content {
  spacing: 32px;
}

.list-search-results {
  spacing: 3px;
}

.search-section-separator {
  -gradient-height: 1px;
  -gradient-start: rgba(255, 255, 255, 0);
  -gradient-end: rgba(255, 255, 255, 0.4);
  -margin-horizontal: 1.5em;
  height: 1px;
}

.list-search-result-content {
  spacing: 12px;
  padding: 12px;
}

.list-search-result-title {
  font-size: 18pt;
  font-weight: 400;
  color: #ffffff;
}

.list-search-result-description {
  color: rgba(255, 255, 255, 0.75);
}

.search-provider-icon {
  padding: 15px;
}

.search-provider-icon-more {
  width: 16px;
  height: 16px;
  background-image: url("assets/more-results.svg");
}

/* DASHBOARD */
#dash {
  font-size: 1em;
  color: rgba(0,0,0,0.75);
  background-color: rgba(255, 255, 255, 0.3456)!important;
  padding: 0;
  border: 0px solid rgba(17, 17, 17, 0.1);
  border-left-width: 0px;
  border-radius: 0 0 0 0;
}

#dash:rtl {
  border-radius: 0 0 0 0;
  border-right-width: 0px;
}

#dash .placeholder {
  background-image: url("assets/dash-placeholder.svg");
  background-size: contain;
  height: 24px;
}

#dash .empty-dash-drop-target {
  width: 24px;
  height: 24px;
}

#dash .show-apps .overview-icon {
  background-color: transparent !important;
  border-radius: 9999px;
}

#dash .show-apps:hover .overview-icon, #dash .show-apps:focus .overview-icon, #dash .show-apps:checked .overview-icon {
  background-color: rgba(0,0,0,0.3) !important;
}

.dash-item-container > StWidget {
  padding: 3px 6px;
}

.dash-label, .window-caption {
  transition-duration: 150ms;
  border-radius: 0;
  padding: 4px 8px;
  color: rgba(0, 0, 0, 0.75);
  background-color: #e7e8eb;
  border: 1px solid rgba(0,0,0, 0.1);
  text-align: center;
  -x-offset: 8px;
  box-shadow: 0 13px 25px rgba(0, 0, 0, 0.75), 0 13px 3px rgba(0, 0, 0, 0.5) !important;
}

#dashtodockContainer StWidget {
  background-color: transparent;
}

#dashtodockContainer .app-well-app-running-dot {
  background-color: transparent;
}

#dashtodockContainer.left #dash {
  border-radius: 0 6px 6px 0;
  box-shadow: inset solid -1px 0 rgba(255,255,255, 0.1);
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(200,200,200,0.5);
  background-gradient-end: rgba(255,255,255,0.1);
}

#dashtodockContainer.right #dash {
  border-radius: 6px 0 0 6px;
  box-shadow: inset solid 1px 0  rgba(255,255,255, 0.1);
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(255,255,255,0.1)!important;
  background-gradient-end: rgba(200,200,200,0.5)!important;
}

#dashtodockContainer.top #dash {
  border-radius: 0 0 6px 6px;
  box-shadow: inset solid 0px -1px  rgba(255,255,255, 0.1);
  background-color:none;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(200,200,200,0.5)!important;
  background-gradient-end: rgba(255,255,255,0.1)!important;
}

#dashtodockContainer.bottom #dash {
  border-radius: 6px 6px 0 0;
  box-shadow: inset solid 0px 1px  rgba(255,255,255, 0.1);
  background:none;
  background-color:none;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(255,255,255,0.1);
  background-gradient-end: rgba(200,200,200,0.5);
}

#dashtodockContainer.bottom #dash .app-well-app:hover {
  background:none;
  background-color:none;
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: rgba(0,0,0,0.5);
}

#dashtodockContainer.bottom #dash .app-well-app:active {
  background:none;
  background-color:none;
  background-gradient-direction: vertical;
  background-gradient-start: transparent;
  background-gradient-end: rgba(0,0,0,0.8);
}

#dashtodockContainer.top #dash .app-well-app:hover {
  background:none;
  background-color:none;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0,0,0,0.5);
  background-gradient-end: transparent;
}

#dashtodockContainer.top #dash .app-well-app:active {
  background:none;
  background-color:none;
  background-gradient-direction: vertical;
  background-gradient-start: rgba(0,0,0,0.8);
  background-gradient-end: transparent;
}

#dashtodockContainer.left #dash .app-well-app:hover {
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.5);
  background-gradient-end: transparent;
}

#dashtodockContainer.left #dash .app-well-app:active {
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: rgba(0,0,0,0.8);
  background-gradient-end: transparent;
}

#dashtodockContainer.right #dash .app-well-app:hover {
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: transparent;
  background-gradient-end: rgba(0,0,0,0.5);
}

#dashtodockContainer.right #dash .app-well-app:active {
  background:none;
  background-color:none;
  background-gradient-direction: horizontal;
  background-gradient-start: transparent;
  background-gradient-end: rgba(0,0,0,0.8);
}

/*#dashtodockContainer.running-dots .app-well-app.focused {
  background-color: rgba(255,255,255,0.5)!important;
}*/


#dashtodockContainer #dash .running1 .app-well-app-running-dot {
  width: 4px;
  height: 4px;
  background-image: none;
  background-color: #000000;
  border-radius: 9999px;
}

#dashtodockContainer #dash .running2 .app-well-app-running-dot {
  width: 8px;
  height: 4px;
  background-image: none;
  background-color: #000000;
  border-radius: 9999px;
}

#dashtodockContainer #dash .running3 .app-well-app-running-dot {
  width: 12px;
  height: 4px;
  background-image: none;
  background-color: #000000;
  border-radius: 9999px;
}

#dashtodockContainer #dash .running4 .app-well-app-running-dot {
  width: 16px;
  height: 4px;
  background-image: none;
  background-color: #000000;
  border-radius: 9999px;
}

#dashtodockContainer #dash .running5 .app-well-app-running-dot {
  width: 16px;
  height: 4px;
  background-image: none;
  background-color: #000000;
  border-radius: 9999px;
}

#dashtodockContainer.extended #dash {
  background-color: rgba(244,244,244,0.3)!important;
  background:none;
  background-gradient-direction: none;
  background-gradient-start: none;
  background-gradient-end: none;
  padding: none;
  border-radius: 0;
}

#dashtodockContainer.extended #dash .app-well-app:hover {
  background-color:rgba(0,0,0,0.3)!important;
  background:none;
  background-gradient-direction: none;
  background-gradient-start: none;
  background-gradient-end: none;
}

#dashtodockContainer.extended #dash .app-well-app:active {
  background-color:rgba(0,0,0,0.5)!important;
  background:none;
  background-gradient-direction: none;
  background-gradient-start: none;
  background-gradient-end: none;
}

#dashtodockContainer.top .dash-item-container > StWidget,
#dashtodockContainer.bottom .dash-item-container > StWidget,
#dashtodockContainer.extended.top .dash-item-container > StWidget,
#dashtodockContainer.extended.bottom .dash-item-container > StWidget {
  padding: 5px 3px;
}

#dashtodockContainer.left .dash-item-container > StWidget,
#dashtodockContainer.right .dash-item-container > StWidget,
#dashtodockContainer.extended.left .dash-item-container > StWidget,
#dashtodockContainer.extended.right .dash-item-container > StWidget {
  padding: 3px 5px;
}

/* App Vault/Grid */
.icon-grid {
  spacing: 30px;
  -shell-grid-horizontal-item-size: 136px;
  -shell-grid-vertical-item-size: 136px;
}

.icon-grid .overview-icon {
  icon-size: 96px;
}

.app-view-controls { 
    width: 320px; 
    padding-bottom: 10px; 
    background-color: transparent !important;  
}

.app-view-control { 
    padding: 0 32px;
    font-weight: bold;
    font-size: 10pt;
    border-radius: 0 0 0 0;  
    color: rgba(0, 0, 0, 0.75); 
    background-color: rgba(255,255,255,0.3) !important;
    border: 0px solid transparent;
    margin:0 4px;
}
.app-view-control:first-child {
    border-right: 0px solid #ffffff; 
    border-radius: 0 0 0 0;
}

.app-view-control:hover { 
    color: #FFFFFF; 
    border: 0px solid #ffffff;
    background-color: rgba(255, 255, 255, 0.35) !important;  
}

.app-view-control:active { 
    color: #FFFFFF; 
    border: 0px solid #ffffff;
    background-color: rgba(97, 97, 97, 0.5) !important;  
}
.app-view-control:first-child:checked,
.app-view-control:first-child:active,
.app-view-control:first-child:hover,
.app-view-control:first-child:hover:checked {
    border-right: 0px solid transparent; 
    border-radius: 0 0 0 0;
}
.app-view-control:checked { 
    color: #FFFFFF; 
    border: 0px solid #ffffff;
    background:none;
    background-color:none;
    background-gradient-direction: horizontal;
    background-gradient-start: rgb(75, 75, 75)!important;
    background-gradient-end: rgb(63, 63, 63)!important;
    box-shadow: inset 0 0px 3px 1px rgba(0, 0, 0, 0.49);
}

.app-view-control:hover:checked { 
    color: #FFFFFF; 
    border: 0px solid #ffffff;
    background-color: #1a1a1a !important;
    box-shadow: inset 0 0px 4px 1px rgba(0, 0, 0, 0.49); 
}

.search-provider-icon:focus, .search-provider-icon:selected, .search-provider-icon:hover, .search-provider-icon:active, .search-provider-icon:checked,
.list-search-result:focus,
.list-search-result:selected,
.list-search-result:hover,
.list-search-result:active,
.list-search-result:checked {
  box-shadow: none;
}

.search-provider-icon:focus, .search-provider-icon:selected, .search-provider-icon:hover,
.list-search-result:focus,
.list-search-result:selected,
.list-search-result:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 150ms;
}

.search-provider-icon:active, .search-provider-icon:checked,
.list-search-result:active,
.list-search-result:checked {
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
}

.app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.grid-search-result .overview-icon {
  box-shadow: none;
}

.app-well-app:hover .overview-icon,
.app-well-app:focus .overview-icon,
.app-well-app:selected .overview-icon,
.app-well-app.app-folder:hover .overview-icon,
.app-well-app.app-folder:focus .overview-icon,
.app-well-app.app-folder:selected .overview-icon,
.grid-search-result:hover .overview-icon,
.grid-search-result:focus .overview-icon,
.grid-search-result:selected .overview-icon {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  transition-duration: 0s;
  border-image: none;
  background-image: none;
}

.app-well-app:active .overview-icon,
.app-well-app:checked .overview-icon,
.app-well-app.app-folder:active .overview-icon,
.app-well-app.app-folder:checked .overview-icon,
.grid-search-result:active .overview-icon,
.grid-search-result:checked .overview-icon {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  transition-duration: 250ms;
}

.app-well-app-running-dot {
  width: 24px;
  height: 2px;
  background-image: none;
  background-color: transparent; /*#00BBFF*/
}

.search-provider-icon,
.list-search-result, .app-well-app .overview-icon,
.app-well-app.app-folder .overview-icon,
.grid-search-result .overview-icon {
  color: #ffffff;
  border-radius: 0;
  padding: 6px;
  border: none;
  transition-duration: 250ms;
  text-align: center;
  text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 9pt;
}

.search-provider-icon:hover,
.list-search-result:hover, .app-well-app .overview-icon:hover,
.grid-search-result .overview-icon:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.search-provider-icon:active,
.list-search-result:active, .app-well-app .overview-icon:active,
.grid-search-result .overview-icon:active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.show-apps .overview-icon {
  background-image: url("assets/launchpad.png") !important;
  background-size: contain;
  /* You are Using System default ? need 6px padding for fixed icon pozition */
  padding: 6px;
}

.show-apps StWidget, .show-apps StWidget:checked, .show-apps StWidget:hover, .show-apps StWidget:active {
  background-color: transparent !important;
  color: transparent;
  border-width: 0px;
}

#dashtodockContainer #dash, .dashtopanelMainPanel #dash {
  border-width: 0px;
}

#dashtodockContainer .show-apps .overview-icon, .dashtopanelMainPanel .show-apps .overview-icon {
  border-radius: 9999px;
}

#dashtodockContainer.extended .show-apps .overview-icon {
  border-radius: 0px;
  background-color: transparent !important;
}

#dashtodockContainer.extended .show-apps {
  background-color: transparent !important; /* rgba(0,0,0,0.3)*/
}

#dashtodockContainer.extended .show-apps:hover {
  background-color: rgba(0,0,0,0.3)!important;
}

#dashtodockContainer.extended .show-apps:checked, #dashtodockContainer.extended .show-apps:active {
  background-color: rgba(0,0,0,0.5)!important;
}

.dashtopanelMainPanel .show-apps .overview-icon {
  background-color: #00BBFF !important;
  padding: 0.18em;
  margin: auto 0.18em;
}

.dashtopanelMainPanel .show-apps:hover .overview-icon {
  background-color: #eb6637 !important;
}

.dashtopanelMainPanel .show-apps:active .overview-icon, .dashtopanelMainPanel .show-apps:checked .overview-icon {
  background-color: #da4816 !important;
}

.app-folder-popup {
  -arrow-border-radius: 6px;
  -arrow-background-color: transparent;
  -arrow-base: 12px;
  -arrow-rise: 24px;
  -arrow-border-color: transparent;
}

.app-folder-popup-bin {
  padding: 5px;
  border: none;
  border-radius: 0;
  background-color: rgba(255,255,255,0.3);
}

.app-folder-icon {
  padding: 5px;
  spacing-rows: 5px;
  spacing-columns: 5px;
}

.page-indicator {
  padding: 15px 20px;
}

.page-indicator .page-indicator-icon {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-image: none;
  background-color: rgba(255,255,255,0.3);
}

.page-indicator:hover .page-indicator-icon {
  background-image: none;
  background-color: rgba(255,255,255,0.75);
}

.page-indicator:active .page-indicator-icon {
  background-image: none;
  background-color: rgba(255,255,255,0.5);
}

.page-indicator:checked .page-indicator-icon {
  background-image: none;
  background-color: rgba(255,255,255,0.95);
  transition-duration: 0s;
}

.page-indicator:checked:active {
  background-image: none;
}

.app-well-app > .overview-icon.overview-icon-with-label,
.grid-search-result .overview-icon.overview-icon-with-label {
  padding: 10px 8px 5px 8px;
  spacing: 4px;
}

.workspace-thumbnails {
  visible-width: 64px;
  spacing: 12px;
  padding: 12px;
  border-radius: 0 0 0 0;
}

.workspace-thumbnails:rtl {
  border-radius: 0 0 0 0;
}

 /* Workspace THUMB in Activities */
.workspace-thumbnail-indicator {
  border: 3px solid #999999;
  /*border-left-width: 2px;*/
  padding: 3px;
  border-radius: 0;
}

.search-display > StBoxLayout,
.all-apps,
.frequent-apps > StBoxLayout {
  padding: 0px 88px 10px 88px;
}

.workspace-thumbnails {
  color: rgba(0,0,0,0.75);
  background-color: transparent;
  border: none;
}

.search-statustext, .no-frequent-applications-label {
  font-size: 45px;
  font-weight: 400;
  color: #ffffff;
}

/* NOTIFICATIONS & MESSAGE TRAY */
.url-highlighter {
  link-color: #00BBFF;
}

.notification-banner {
  background-color: #e7e8eb !important;
  font-size: 1em;
  width: 34em;
  margin: 12px;
  border:none;
  box-shadow: 0 13px 25px rgba(0, 0, 0, 0.35), 0 13px 3px rgba(0, 0, 0, 0.35)!important;
}

.notification-banner:hover {
  background-color: rgba(255,255,255,0.55) !important;
  border:none!important;
}

.notification-banner:active {
  background-color: rgba(255,255,255,0.55) !important;
  border:none!important;
}

.notification-banner .notification-icon {
  padding: 5px;
}

.notification-banner .notification-content {
  padding: 5px;
  spacing: 5px;
}

.notification-banner .secondary-icon {
  icon-size: 0.42857em;
}

.notification-banner .notification-actions {
  transition-duration: 250ms;
  color: rgba(0,0,0,0.75);
  background-color: white !important;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
  background-color: transparent !important;
  min-height: 20px;
  border-radius: 0 0 0 0;
}

.notification-banner .notification-actions:hover, .notification-banner .notification-actions:focus {
  color: #eb6637;
  background-color: rgba(94, 94, 94, 0.05) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.notification-banner .notification-actions:active, .notification-banner .notification-actions:checked {
  color: #da4816;
  background-color: rgba(94, 94, 94, 0.1) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.notification-banner .notification-actions:insensitive {
  color: rgba(94, 94, 94, 0.4);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.notification-banner .notification-actions:hover {
  background-color: white !important;
}

.notification-banner .notification-actions:active {
  background-color: white !important;
}

.notification-banner .notification-button {
  margin-left: 0px;
  background-color: transparent !important;
  min-height: 20px;
  padding: 6px 0;
  color: rgba(94, 94, 94, 0.75);
  font-weight: 500;
  border-top: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 6px 6px;
}

.notification-banner .notification-button:hover {
  background-color: rgba(94, 94, 94, 0.05) !important;
  color: rgba(0,0,0,0.75);
}

.notification-banner .notification-button:first-child {
  border-radius: 0 0 0 6px;
}

.notification-banner .notification-button:last-child {
  border-radius: 0 0 6px 0;
}

.notification-banner:last-child > :first-child:hover {
  background-color: white !important;
}

.notification-banner:last-child > :first-child:active {
  background-color: white !important;
}

.summary-source-counter {
  font-size: 1em;
  font-weight: 400;
  height: 1.6em;
  width: 1.6em;
  -shell-counter-overlap-x: 3px;
  -shell-counter-overlap-y: 3px;
  background-color: #00BBFF;
  color: rgba(0,0,0,0.75);
  border: 2px solid rgba(0,0,0,0.75);
  border-radius: 0.9em;
}

.secondary-icon {
  icon-size: 1.14286em;
}

.chat-body {
  spacing: 5px;
}

.chat-response {
  margin: 5px;
}

.chat-log-message {
  color: rgba(0,0,0,0.75);
}

.chat-new-group {
  padding-top: 1em;
}

.chat-received {
  padding-left: 4px;
}

.chat-received:rtl {
  padding-left: 0px;
  padding-right: 4px;
}

.chat-sent {
  padding-left: 18pt;
  color: rgba(94, 94, 94, 0.75);
}

.chat-sent:rtl {
  padding-left: 0;
  padding-right: 18pt;
}

.chat-meta-message {
  padding-left: 4px;
  font-size: 9pt;
  font-weight: 400;
  color: rgba(94, 94, 94, 0.6);
}

.chat-meta-message:rtl {
  padding-left: 0;
  padding-right: 4px;
}

.hotplug-transient-box {
  spacing: 6px;
  padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
  padding: 2px 10px;
}

.hotplug-notification-item:focus {
  padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
  icon-size: 24px;
  padding: 2px 5px;
}

.hotplug-resident-box {
  spacing: 8px;
}

.hotplug-resident-mount {
  spacing: 8px;
  border-radius: 6px;
}

.hotplug-resident-mount:hover {
  background-color: rgba(94, 94, 94, 0.05);
}

.hotplug-resident-mount:active {
  background-color: rgba(94, 94, 94, 0.1);
}

.hotplug-resident-mount-label {
  color: inherit;
  padding-left: 6px;
}

.hotplug-resident-mount-icon {
  icon-size: 24px;
  padding-left: 6px;
}

.hotplug-resident-eject-icon {
  icon-size: 16px;
}

.hotplug-resident-eject-button {
  padding: 7px;
  border-radius: 6px;
  color: rgba(0,0,0,0.75);
}

/* Eeeky things */
.legacy-tray {
  background-color: #eeeeee;
  color: rgba(0,0,0,0.75);
  border: none;
  border-bottom-width: 0;
}

.legacy-tray:ltr {
  border-radius: 0 6px 0 0;
  border-left-width: 0;
}

.legacy-tray:rtl {
  border-radius: 6px 0 0 0;
  border-right-width: 0;
}

.legacy-tray-handle,
.legacy-tray-icon {
  padding: 6px;
}

.legacy-tray-handle StIcon,
.legacy-tray-icon StIcon {
  icon-size: 24px;
}

.legacy-tray-handle:hover, .legacy-tray-handle:focus,
.legacy-tray-icon:hover,
.legacy-tray-icon:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.legacy-tray-handle:active,
.legacy-tray-icon:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.legacy-tray-icon-box {
  spacing: 12px;
}

.legacy-tray-icon-box:ltr {
  padding-left: 12px;
}

.legacy-tray-icon-box:rtl {
  padding-right: 12px;
}

.legacy-tray-icon-box StButton {
  width: 24px;
  height: 24px;
}

.magnifier-zoom-region {
  border: 2px solid #00BBFF;
}

.magnifier-zoom-region.full-screen {
  border-width: 0;
}

/* On-screen Keyboard */
#keyboard {
  background-color: #e7e8eb;
  border:none;
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  transition-duration: 150ms;
  color: rgba(0,0,0,0.75) !important;
  background-color: #d6d5d5 !important;
  background-image: none;
  min-height: 64px;
  min-width: 64px;
  font-size: 2em;
  font-weight: lighter;
  border-radius: 0;
  border: none;
  box-shadow: inset 0 1px 0 0 rgb(207, 207, 207);
}

.keyboard-key:hover, .keyboard-key:focus {
  background-color: #e1e1e1 !important;
  border: none;
}

.keyboard-key:active, .keyboard-key:checked {
  color: #ffffff;
  background-color: #e7e8eb !important;
  box-shadow: inset 0 1px 9px 0 rgba(0,0,0,0.2);
  border: 1px solid rgba(244,244,244,0.75);
}

.keyboard-key:insensitive {
  color: rgba(1, 1, 1, 0.4);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.keyboard-key.enter-key {
  background-color: #006098;
    background-image: url("resource:///org/gnome/shell/theme/key-enter.svg"); }
  .keyboard-key.shift-key-lowercase {
    background-image: url("resource:///org/gnome/shell/theme/key-shift.svg"); }
  .keyboard-key.shift-key-uppercase {
    background-image: url("resource:///org/gnome/shell/theme/key-shift-uppercase.svg"); }
  .keyboard-key.shift-key-uppercase:latched {
    background-image: url("resource:///org/gnome/shell/theme/key-shift-latched-uppercase.svg"); }
  .keyboard-key.hide-key {
    background-image: url("resource:///org/gnome/shell/theme/key-hide.svg"); }
  .keyboard-key.layout-key {
    background-image: url("resource:///org/gnome/shell/theme/key-layout.svg"); }


.keyboard-key:grayed {
  background-color: #ffffff;
  color: #111111;
  border-color: solid rgba(255, 255, 255, 0.95);
}

.keyboard-subkeys {
  color: inherit;
  padding: 5px;
  -arrow-border-radius: 6px;
  -arrow-background-color: #e7e8eb;
  -arrow-border-width: 1px;
  -arrow-border-color: rgba(0,0,0,0.1);
  -arrow-base: 3;
  -arrow-rise: 7;
  -boxpointer-gap: 8px;
}

.candidate-popup-content {
  border: 1px solid rgba(244, 244, 244, 0.1) !important;
  padding: 8px;
  spacing: 0;
}

.candidate-index {
  padding: 0 4px 0 0;
  color: rgba(255, 255, 255, 0.75);
}

.candidate-box:selected .candidate-index {
  color: #ffffff;
}

.candidate-box:hover .candidate-index {
  color: #ffffff;
}

.candidate-box {
  transition-duration: 150ms;
  min-height: 30px;
  padding: 0 8px;
  border-radius: 6px;
}

.candidate-box:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.candidate-box:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.candidate-box:selected {
  background-color: #00BBFF;
  color: #ffffff;
}

.candidate-page-button-box {
  height: 30px;
}

.vertical .candidate-page-button-box {
  padding-top: 0.5em;
}

.horizontal .candidate-page-button-box {
  padding-left: 0.5em;
}

.candidate-page-button {
  min-width: 30px;
  min-height: 30px;
  padding: 0;
}

.candidate-page-button-previous,
.candidate-page-button-next {
  border-radius: 6px;
}

.candidate-page-button-previous:hover, .candidate-page-button-previous:active,
.candidate-page-button-next:hover,
.candidate-page-button-next:active {
  background-color: transparent !important;
}

.candidate-page-button-previous:hover StIcon,
.candidate-page-button-next:hover StIcon {
  color: #eb6637;
}

.candidate-page-button-previous:active StIcon,
.candidate-page-button-next:active StIcon {
  color: #da4816;
}

.candidate-page-button-icon {
  icon-size: 1.14286em;
}

/* Auth Dialogs & Screen Shield */
.framed-user-icon {
  background-size: contain;
  border: none;
  color: rgba(0,0,0,0.75);
  border-radius: 6px;
}

.framed-user-icon:hover {
  border-color: rgba(0,0,0,0.75);
  color: rgba(0,0,0,0.75);
}

.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em;
}

.login-dialog StEntry {
  background-color: #fafafa;
  color: rgba(0,0,0,0.75);
  border-radius: 6px;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px rgba(17, 17, 17, 0.1);
  selection-background-color: #00BBFF;
  selected-color: #F4F4F4;
  transition-duration: 250ms;
}

.login-dialog StEntry:hover, .login-dialog StEntry:focus, .login-dialog StEntry:active {
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 2px rgba(17, 17, 17, 0.1);
  transition-duration: 250ms;
}

.login-dialog StEntry:focus, .login-dialog StEntry:active {
  box-shadow: inset 0 0px 0px 2px #00BBFF;
  color: rgba(0,0,0,0.75);
}

.login-dialog StEntry:disabled {
  color: rgba(94, 94, 94, 0.4);
  border-color: transparent;
  box-shadow: none;
}

.login-dialog StIcon {
  color: rgba(0,0,0,0.75);
}

.login-dialog .modal-dialog-button-box {
  spacing: 3px;
}

.login-dialog .modal-dialog-button {
  padding: 0 16px;
  transition-duration: 250ms;
  color: rgba(0,0,0,0.75);
  background-color: white !important;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
  color: rgba(0,0,0,0.75);
  font-weight: 400;
}

.login-dialog .modal-dialog-button:hover, .login-dialog .modal-dialog-button:focus {
  color: #eb6637;
  background-color: rgba(94, 94, 94, 0.05) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.login-dialog .modal-dialog-button:active, .login-dialog .modal-dialog-button:checked {
  color: #da4816;
  background-color: rgba(94, 94, 94, 0.1) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.login-dialog .modal-dialog-button:insensitive {
  color: rgba(94, 94, 94, 0.4);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.login-dialog .modal-dialog-button {
  box-shadow: inset 0 0 1px white;
}

.login-dialog .modal-dialog-button.default, .login-dialog .modal-dialog-button:hover, .login-dialog .modal-dialog-button:focus {
  box-shadow: inset 0 0 1px rgba(94, 94, 94, 0.05);
}

.login-dialog .modal-dialog-button:active {
  box-shadow: inset 0 0 1px rgba(94, 94, 94, 0.1);
}

.login-dialog .modal-dialog-button:first-child {
  border-radius: 0 0 0 6px !important;
}

.login-dialog .modal-dialog-button:last-child {
  border-radius: 0 0 6px 0 !important;
}

.login-dialog .modal-dialog-button:first-child:last-child {
  border-radius: 0 0 6px 6px;
}

.login-dialog-logo-bin {
  padding: 24px 0px;
}

.login-dialog-banner {
  color: rgba(94, 94, 94, 0.75);
}

.login-dialog-button-box {
  spacing: 5px;
}

.login-dialog-message-warning {
  color: #E75731;
}

.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20px;
}

.login-dialog-user-selection-box {
  padding: 100px 0px;
}

.login-dialog-user-selection-box .login-dialog-not-listed-label {
  padding-left: 2px;
}

.login-dialog-not-listed-button:focus .login-dialog-user-selection-box .login-dialog-not-listed-label,
.login-dialog-not-listed-button:hover .login-dialog-user-selection-box .login-dialog-not-listed-label {
  color: rgba(0,0,0,0.75);
}

.login-dialog-not-listed-label {
  font-size: 1em;
  font-weight: 400;
  color: rgba(94, 94, 94, 0.4);
  padding-top: 1em;
}

.login-dialog-user-list-view {
  -st-vfade-offset: 1em;
}

.login-dialog-user-list {
  spacing: 12px;
  padding: .2em;
  width: 23em;
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0,0,0,0.75);
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0,0,0,0.75);
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(0,0,0,0.75);
}

.login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
  border-right: 2px solid rgba(0,0,0,0.75);
}

.login-dialog-user-list-item {
  border-radius: 6px;
  padding: 4px 4px 0;
  color: #ffffff;
}

.login-dialog-user-list-item:ltr {
  padding-right: 1em;
}

.login-dialog-user-list-item:rtl {
  padding-left: 1em;
}

.login-dialog-user-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0,0,0,0.75);
}

.login-dialog-user-list-item:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(0,0,0,0.75);
}

.login-dialog-user-list-item .login-dialog-timed-login-indicator {
  height: 2px;
  margin: 2px 0 0 0;
  background-color: rgba(0,0,0,0.75);
}

.login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
  background-color: rgba(0,0,0,0.75);
}

.login-dialog-username,
.user-widget-label {
  color: #ffffff;
  font-size: 15pt;
  font-weight: 500;
  text-align: left;
  padding-left: 15px;
}

.user-widget-label:ltr {
  padding-left: 18px;
}

.user-widget-label:rtl {
  padding-right: 18px;
}

.login-dialog-prompt-layout {
  padding: 12px 24px;
  spacing: 8px;
  width: 23em;
}

.login-dialog-prompt-label {
  color: #ffffff;
  font-size: 1em;
  padding-top: 1em;
}

.login-dialog-session-list-button StIcon {
  icon-size: 1.25em;
  color: #E9394C;
}

.login-dialog-session-list-button {
  color: #ffffff;
}

.login-dialog-session-list-button:hover, .login-dialog-session-list-button:focus {
  color: #00BBFF;
}

.login-dialog-session-list-button:active {
  color: #da4816;
}

.screen-shield-arrows {
  padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow {
  color: white;
  width: 80px;
  height: 48px;
  -arrow-thickness: 12px;
  -arrow-shadow: none;
}

.screen-shield-clock {
  color: white;
  text-shadow: none;
  font-weight: 400;
  text-align: center;
  padding-bottom: 1.5em;
}

.screen-shield-clock-time {
  font-size: 112px;
  font-weight: 300;
  text-shadow: none;
}

.screen-shield-clock-date {
  font-size: 45px;
  font-weight: 400;
}

.screen-shield-notifications-container {
  spacing: 6px;
  width: 30em;
  background-color: transparent;
  max-height: 500px;
}

.screen-shield-notifications-container .summary-notification-stack-scrollview {
  padding-top: 0;
  padding-bottom: 0;
}

.screen-shield-notifications-container .notification,
.screen-shield-notifications-container .screen-shield-notification-source {
  padding: 8px;
  border: none;
  background-color: #E1E1E1;
  color: rgba(0,0,0,0.75);
  border-radius: 6px;
}

.screen-shield-notifications-container .notification {
  margin-right: 16px;
}

.screen-shield-notification-label {
  min-height: 18px;
  padding: 2px 0px 0px 16px;
  font-weight: 400;
}

.screen-shield-notification-count-text {
  min-height: 18px;
  padding: 2px 0px 0px 16px;
  color: rgba(94, 94, 94, 0.75);
}

#panel.lock-screen {
  background-color: #F4F4F4;
}

.screen-shield-background {
  background: black;
}

#lockDialogGroup {
  background: url("assets/overview_gradient.svg") rgba(17, 17, 17, 0.6);
  background-size: cover;
  spacing: 24px;
}

#LookingGlassDialog {
  background-color: rgba(255, 255, 255, 0.90);
  spacing: 4px;
  padding: 0;
  border: 0px solid rgba(17, 17, 17, 0.1);
  border-top-width: 0px !important;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.55), 0 25px 25px rgba(0, 0, 0, 0.35);
}

#LookingGlassDialog > #Toolbar {
  padding: 0 8px;
  border: none;
  border-radius: 0;
  background-color: rgba(250, 250, 250, 0.01);
}

#LookingGlassDialog .labels {
  spacing: 0;
}

#LookingGlassDialog .notebook-tab {
  -natural-hpadding: 12px;
  -minimum-hpadding: 6px;
  font-weight: 400;
  color: rgba(94, 94, 94, 0.75);
  transition-duration: 250ms;
  background-color: rgba(94, 94, 94, 0.1);
  box-shadow: inset 0 -2px 0px rgba(94, 94, 94, 0.4);
  padding-left: 16px;
  padding-right: 16px;
  min-height: 32px;
  padding: 0 32px;
}

#LookingGlassDialog .notebook-tab:hover {
  color: rgba(0,0,0,0.75);
  text-shadow: none;
}

#LookingGlassDialog .notebook-tab:selected {
  font-weight: bold;
  border-bottom-width: 0;
  border-color: transparent;
  text-shadow: none;
}

#LookingGlassDialog .notebook-tab:selected, #LookingGlassDialog .notebook-tab:selected:hover {
  background-color: rgba(94, 94, 94, 0.05);
  box-shadow: inset 0 -2px 0px #00BBFF;
  color: rgba(0,0,0,0.75);
}

#LookingGlassDialog StBoxLayout#EvalBox {
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea {
  spacing: 4px;
}

.lg-dialog StEntry {
  border: 0px solid rgba(17, 17, 17, 0.1);
  selection-background-color: #00BBFF;
  selected-color: rgba(0,0,0,0.75);
}

.lg-dialog .shell-link {
  color: #00BBFF;
}

.lg-dialog .shell-link:hover {
  color: #00BBFF;
}

.lg-completions-text {
  font-size: 1em;
  font-style: italic;
}

.lg-obj-inspector-title {
  spacing: 4px;
}

.lg-obj-inspector-button {
  min-height: 32px;
  padding: 0 16px;
  border: none;
  border-radius: 6px;
  font-size: 10.5pt;
  font-weight: 500;
  transition-duration: 250ms;
  color: rgba(0,0,0,0.75);
  background-color: white !important;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.lg-obj-inspector-button:hover, .lg-obj-inspector-button:focus {
  color: #eb6637;
  background-color: rgba(94, 94, 94, 0.05) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.lg-obj-inspector-button:active, .lg-obj-inspector-button:checked {
  color: #da4816;
  background-color: rgba(94, 94, 94, 0.1) !important;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.lg-obj-inspector-button:insensitive {
  color: rgba(94, 94, 94, 0.4);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none;
}

.lg-obj-inspector-button:hover {
  border: none;
}

#lookingGlassExtensions {
  padding: 4px;
}

.lg-extensions-list {
  padding: 4px;
  spacing: 6px;
}

.lg-extension {
  border: none;
  border-radius: 6px;
  padding: 4px;
}

.lg-extension-name {
  font-size: 18pt;
  font-weight: 400;
}

.lg-extension-meta {
  spacing: 6px;
}

#LookingGlassPropertyInspector {
  background: #fafafa;
  border: none;
  border-radius: 6px;
  padding: 6px;
}

/* GPaste */
.popup-menu .search-entry {
  min-height: 36px;
  padding: 0 8px;
  border-width: 0;
  font-size: 12pt;
  font-weight: 400;
  background-color: rgba(255,255,255,0.15);
  color: rgba(0,0,0,0.75);
  border-radius: 6px;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px rgba(17, 17, 17, 0.1);
  selection-background-color: #00BBFF;
  selected-color: #F4F4F4;
  transition-duration: 250ms;
}

.popup-menu .search-entry:hover, .popup-menu .search-entry:focus, .popup-menu .search-entry:active {
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 2px rgba(17, 17, 17, 0.1);
  transition-duration: 250ms;
}

.popup-menu .search-entry:focus, .popup-menu .search-entry:active {
  box-shadow: inset 0 0 0 2px #00BBFF;
  color: rgba(0,0,0,0.75);
}

.popup-menu .search-entry:disabled {
  color: rgba(94, 94, 94, 0.4);
  border-color: transparent;
  box-shadow: none;
}

.popup-menu .search-entry:focus {
  min-height: 36px;
  padding: 0 8px;
  border-width: 0;
  font-size: 12pt;
  font-weight: 400;
  background-color: rgba(255,255,255,0.15);
  border-radius: 6px;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px rgba(17, 17, 17, 0.1);
  selection-background-color: #00BBFF;
  selected-color: #F4F4F4;
  transition-duration: 250ms;
  color: rgba(0,0,0,0.75);
}

.popup-menu .search-entry:focus:hover, .popup-menu .search-entry:focus:focus, .popup-menu .search-entry:focus:active {
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 2px rgba(17, 17, 17, 0.1);
  transition-duration: 250ms;
}

.popup-menu .search-entry:focus:focus, .popup-menu .search-entry:focus:active {
  box-shadow: inset 0 0 0 2px #00BBFF;
  color: rgba(0,0,0,0.75);
}

.popup-menu .search-entry:focus:disabled {
  color: rgba(94, 94, 94, 0.4);
  border-color: transparent;
  box-shadow: none;
}

.popup-menu .search-entry .search-entry-icon {
  color: rgba(94, 94, 94, 0.6);
}

.popup-menu .search-entry:focus .search-entry-icon, .popup-menu .search-entry:hover .search-entry-icon {
  color: rgba(0,0,0,0.75);
}

#overview {
}

.icon-grid StIcon {
   margin: 10px!important;
 }

.overview-icon{
  margin-bottom:4px!important;
}

#dashtodockContainer StIcon {
  icon-shadow: 0 1px 5px rgba(0,0,0,0.5);
}